
@font-face{
    font-family: "Retro_Gaming";
    src: url("../Font/Retro_Gaming.ttf");
}

body{
    font-size: 16px;
    font-family: "Retro_Gaming";
    background: url(../IMG/index.jpg) no-repeat center fixed;
    background-size: cover;
}

.main, h2{
    letter-spacing: 2px;
    text-align: center;
    letter-spacing: 1%;
    text-transform: uppercase;
    color:#f7c611;
     /* Ajoute contour aux lettres */
     /* text-shadow: -1px 0 , 0 1px #FF0000, 1px 0 #FF0000, 0 -1px #FF0000; */
     text-shadow: 2px 1px #FF0000, 3px 1px #FF0000, 0 -1px #FF0000;
}

.main h1{
    font-size: 3em;
    margin-top: 10vh;
}

.main h2{
    font-size: 1.6em;
    margin-top: 10vh;
}

/* #logo{
    color: #f7c611;
    box-shadow: #FF0000;
} */

#index-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input_text{
    width: 23vw;
    color: #FF0000;
    background-color: #f7c611;
    margin-top: 1vh;
    border-color: #FF0000;
}

#ls-button{
    width: 10vw;
    font-size: 1vw;
    font-family: "Retro_Gaming";
    background-color: #f7c611;
    color:#FF0000;
    border-color: #FF0000;
    text-transform: uppercase;
    margin-top: 2em;
    padding: .5em 1em;
    cursor: pointer;
    text-decoration: none;
}

#submit{
    font-size: 1vw;
    width: 15vw;
    padding: .5em 1em;
    color: #FF0000;
    background-color: #f7c611;
    margin-top: 2vh;
    border-color: #FF0000;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


