.container {
    display: flex;
}

.grid-user {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: royalblue;
    margin:20px;
}

.grid div {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid white;
}

.grid-computer {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightseagreen;
    margin: 20px;
}

.grid-display {
    width: 400px;
    height: 400px;
    background-color: crimson;
    margin: 20px;
}

.destroyer-container {
    width: 80px;
    height: 40px;
    background-color: darkolivegreen;
    margin: 10px;
    display : flex;
}

.destroyer-container-vertical {
    width: 40px;
    height: 80px;
    background-color: darkolivegreen;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  }


.submarine-container {
    width: 120px;
    height: 40px;
    background-color: darkslategrey;
    margin: 10px;
    display : flex;
}

.submarine-container-vertical {
    width: 40px;
    height: 120px;
    background-color: darkslategrey;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  }

.cruiser-container {
    width: 120px;
    height: 40px;
    background-color: lightpink;
    margin: 10px;
    display : flex;
}

.cruiser-container-vertical {
    width: 40px;
    height: 120px;
    background-color: lightpink;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  }

.battleship-container {
    width: 160px;
    height: 40px;
    background-color: green;
    margin: 10px;
    display : flex;
}

.battleship-container-vertical {
    width: 40px;
    height: 160px;
    background-color: green;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  }

.carrier-container {
    width: 200px;
    height: 40px;
    background-color: rebeccapurple;
    margin: 10px;
    display : flex;
}

.carrier-container-vertical {
    width: 40px;
    height: 200px;
    background-color: rebeccapurple;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  }


.ship div {
    width: 40px;
    height: 40px;
}

.destroyer {
    background-color: darkolivegreen;
}

.submarine {
    background-color: darkslategray;
}

.cruiser {
    background-color: lightpink;
}

.battleship {
    background-color: green;
}

.carrier {
    background-color: rebeccapurple;
}

.boom {
    background-color: red;
  }
  
  .miss {
     background-color: black;
  }